
@media screen and (min-width: 600px) {
  .card {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 95%;
  }
  input,
  option,
  select {
    width: 100%;
  }
}

.title {
  font-size: 30px;

  color: rgb(138, 136, 252);
}
input,
option,
select {
  color: white;
  background-color: #141414;
  border-radius: 30px;
  font-size: 30px;
  border: 0px;
}
.nav_bar {
  background-color: #191919;
  
  padding: 5px;
  width: calc(100% - 5);
  position: relative;
  left: 0px;
}

.data {
  text-align: center;
  background-color: transparent;
  
  height: fit-content;
}
.important {
  color: yellow;
}

body {
  
  font-family: "Open Sans", sans-serif;
}
