input,
option,
select {
  color: white;
  background-color: #141414;
  outline: none;
  border-radius: 10px;
  font-size: 30px;
  border: 0px;
}

@media screen and (max-width: 600px) {
  input,
  option,
  select {
    width: 100%;
  }
  input,
  option,
  select::after {
    content: "<br>";
  }
  input,
  option,
  select::before {
    content: "<br>";
  }
}

.abutton {
  background-color: #363636;
  border-radius: 10px;
  font-size: 30px;
  border: 0px;
  color: rgb(138, 136, 252);
}
.title {
  font-size: 30px;
  float: left;
  color: rgb(138, 136, 252);
}
.nav_bar {
  background-color: #414141;
  padding: 10px;
}
.logo {
  height: 46px;
  width: 46px;
  float: left;
}
.abutton:hover {
  cursor: pointer;
  background-color: #191919;
}

.important {
  color: yellow;
}

body {
  background-color: #191919;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
