body {
  background-color: #191919;
  font-family: "Open Sans", sans-serif;
  color: white;
}
* {
  transition-duration: 0.5s;
}
.description {
  display: grid;
  grid-template-areas: "menu right";
  gap: 10px;

  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.description_text {
  width: 100%;
  grid-area: right;
  text-size-adjust: auto;
}
.description_img {
  width: 100%;
  grid-area: menu;
}
.episode {
  text-align: center;
  font-size: 30px;
  padding: 1px 1px;
  text-decoration: none;
  color: white;
  background-color: #303030;
  border-radius: 10px;
}
.episode:hover {
  background-color: #686868;
}
.next_ep {
  font-size: 30px;
  padding: 1px 1px;
  text-decoration: none;
  color: white;
  background-color: #303030;
  border-radius: 10px;
}
#desc_data:hover {
  cursor: pointer;
}
#othernames_data:hover {
  cursor: pointer;
}
.episodes {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  width: 100%;
}
iframe {
  border: 0px;
  border-radius: 10px;

  height: 55vh;
}
.player {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .description_text {
    font-size: 30px;
  }
  .description {
    width: 50%;
  }
  .episodes {
    width: 50%;
  }
  img {
    width: 300px;
  }
  iframe {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .description_text {
    font-size: 4vw;
  }
  .episodes {
    width: 100%;
  }
  .description {
    width: 100%;
  }
  img {
    width: 100%;
    align-self: center;
  }
  iframe {
    width: 100%;
  }
}
.details {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  align-items: center;
}
img {
}
a {
  font-family: "Open Sans", sans-serif;
  color: rgb(138, 136, 252);
  font-size: 30px;
}
a:link {
  text-decoration: none;
  color: rgb(138, 136, 252);
}
a:link:hover {
  cursor: pointer;
}
a:visited {
  color: rgb(138, 136, 252);
}
.abutton {
  background-color: #363636;
  border-radius: 10px;
  font-size: 30px;
  border: 0px;
  color: rgb(138, 136, 252);
}
.abutton:hover {
  cursor: pointer;
}
.white_text {
  color: white;
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: rgb(138, 136, 252);
  font-size: 1fr;
}

.title {
  font-size: 30px;

  color: rgb(138, 136, 252);
}
input,
option,
select {
  color: white;
  background-color: #141414;
  border-radius: 30px;
  font-size: 30px;
  border: 0px;
}
