
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="./src/watch.css">
  <body>
    <div class="episodes">
      <div class="episode">
        <a href="/watch/naruto/220">220</a>
      </div>
      <div class="episode">
        <a href="/watch/naruto/220">220</a>
      </div>
      <div class="episode">
        <a href="/watch/naruto/220">220</a>
      </div>
      <div class="episode">
        <a href="/watch/naruto/220">220</a>
      </div>
      <div class="episode">
        <a href="/watch/naruto/220">220</a>
      </div>
      <div class="episode">
        <a href="/watch/naruto/220">220</a>
      </div>
      <div class="episode">
        <a href="/watch/naruto/220">220</a>
      </div>
     
   
      
   
      
    </div>

    <div class="details">
      <a>Naruto</a>
      <br />
      <img src="https://gogocdn.net/images/anime/N/naruto.jpg" />
      <br />
      <a>
    8.25
  </a>
    </div>
    <center>
      <iframe
        scroling=false
        
        src="https://gogohd.pro/streaming.php?id=MjU1MzA=&amp;title=Naruto+Episode+176&amp;typesub=SUB"
      ></iframe>
    </center>

    <br />
    stream: stream, details: details, mal_search: mal, rating: rating
  </body>
</html>
