.abutton {
  background-color: #363636;
  border-radius: 10px;
  font-size: 30px;
  border: 0px;
  color: rgb(138, 136, 252);
}
.abutton:hover {
  cursor: pointer;
}
.white_text {
  color: white;
}
a {
  font-family: "Open Sans", sans-serif;
  color: rgb(138, 136, 252);
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: rgb(138, 136, 252);
  font-size: 1fr;
}
a:link {
  text-decoration: none;
  color: rgb(138, 136, 252);
}
a:link:hover {
  cursor: pointer;
}
a:visited {
  color: rgb(138, 136, 252);
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #414141;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(138, 136, 252);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(118, 116, 214);
}
