.container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin: 5px;
}
.card {
  border: 1px solid rgb(138, 136, 252);
  background-image: radial-gradient(farthest-corner at 40px 40px,black, rgb(37, 36, 66));
  transition-duration: 0.5s;
}
.card-img{
  width: 100%;
}
.card:hover {
  cursor: pointer;
  border: 1px solid rgb(132, 216, 255);
  background-image: radial-gradient(farthest-corner at 40px 40px,black, rgb(67, 65, 119));
}
*{
  transition-duration: 0.5s;
}